@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}
